page-contact {
    .contenedor{
        background-color: #fff6eb;
    }
    .contenedor ion-item-divider{
        font-weight: bold;
        background-color: #e9cdaf;
        color:#000;
        margin-bottom:-1.7em;
    }
    .contenedor p{
        padding: 1.25em;
        background-color: #ffe6cc;
        border-radius:0.3em;
    }

}
