page-home {
    .contenedor{
        background-color: #fff6eb;
    }
    .cartel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        width: 45em;
    }
}
